* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  background-color: #71db88;
}

.memory-game {
  width: 700px;
  margin: auto;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.memory-card {

}

.memory-card__front-img {

}

.memory-card__back-img {
  
}
